@use "sass:list";
@use "sass:map";

// bg, fg
$red: rgb(227, 50, 50), rgb(255, 255, 255);
$blue: rgb(73, 116, 182), rgb(255, 255, 255);
$green: rgb(4, 150, 28), rgb(255, 255, 255);
$gray: rgb(245, 245, 245), rgb(0, 0, 0);
$drawer: darken(nth($blue, 1), 25%), nth($blue, 2);

$colors: (('red', nth($red, 1), nth($red, 2)),
        ('blue', nth($blue, 1), nth($blue, 2)),
        ('green', nth($green, 1), nth($green, 2)),
        ('gray', nth($gray, 1), nth($gray, 2)),
);

$shadow-small: 0 1px 6px 0px rgba(0, 0, 0, .3);
$shadow-medium: 0 0 15px 0px rgba(0, 0, 0, .2);
$shadow-large: 0 0 20px 2px rgba(0, 0, 0, .3);

$border-inactive: 1px solid lighten(nth($blue, 1), 30%);
$border: 1px solid nth($blue, 1);

$font-label: 700 14px 'Nunito', sans-serif;
$font-nav: 700 16px 'Nunito', sans-serif;
$font-title: 700 28px 'Nunito', sans-serif;
$font-sec-title: 800 16px 'Nunito', sans-serif;
$font-form: normal 18px 'Nunito', sans-serif;
$font-option: normal 14px 'Nunito', sans-serif;

$border-radius-small: 0px;
$border-radius-medium: 6px;
